<h1> Admin System </h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/staff/list" class="nav-link"><i class="fas fa-user-md"></i> Staff Management</a>
  </li>
  <li class="list-group-item">
    <a href="admin/archive/list" class="nav-link"><i class="fas fa-archive"></i> Archive</a>
  </li>
  <li class="list-group-item">
    <a href="admin/audit/list" class="nav-link"><i class="far fa-clipboard"></i> Auditing</a>
  </li>
</ul>