<h1> Admin System </h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/staff/list" class="nav-link">Staff Management</a>
  </li>
  <li class="list-group-item">
    <a href="/archive" class="nav-link">Archive</a>
  </li>
  <li class="list-group-item">
    <a href="/audit" class="nav-link">Auditing</a>
  </li>
</ul>