<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/admin" class="nav-link"><i class="fas fa-cog"></i> Admin</a>
  </li>
  <li class="list-group-item">
    <a href="/patient/list" class="nav-link"><i class="fas fa-user"></i> Patients</a>
  </li>

</ul>