<div class="row mt-5">
  <div class="row-col-auto m-auto">

    <% if (failed) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Nothing Matches that ID
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

      <h1 class="text-center mb-3"> Magic Search </h1>

      <form action="" method="POST">
        <input required type="text" class="form-control" name="_id" id="search" placeholder="Search any ID" aria-label="Search any ID here">
        <input type="submit" class="form-control btn btn-primary btn-block" value="Search">
      </form>

  </div>
</div>