<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr class="table-dark">
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID</th>
        <th>Added Date</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(patient => { %>
        <tr>
          <td><%= patient.firstName %></td>
          <td><%= patient.lastName %></td>
          <td><%= patient._id %></td>
          <td><%= patient.dateAdded.toLocaleDateString('en-GB') %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
