<div class="row mt-5">
  <div class="row-col-auto m-auto">

    <% if (failed) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Nothing Matches that ID
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

      <h1 class="mb-3"> Magic Search </h1>
      <p class="lead mb-3">
        Search any ID number you may have, and you will be taken to the page for that document   
      </p>

      <form action="" method="POST">
        <input required type="text" class="form-control" name="_id" id="search" placeholder="Enter ID" aria-label="Search any ID here">
        <input type="submit" class="form-control btn btn-primary btn-block" value="Search">
      </form>

  </div>
</div>